<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GPA</title>
    <script src="summerCampServer.js"></script>
</head>

<body>
	<h1>Removing All Applicants</h1>
    <br>
    <form action="<%- port %>/processAdminRemove" method="post" id="removeAllForm">
        <input type="submit" value="Remove all applicants" onclick="removeAll()" id="removeButton"/> 
    </form>
    <hr>
    <a href="/">HOME</a>

    <script>
        
        function removeAll() {
           if (confirm('Are you sure you want to remove all applications?')) {
               doucment.getElementById("removeButton").submit();
               return true;
           } else {
               return false;
           }
        }
    </script>
</body>

</html>
