<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>404 Error</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="error">
        <h1 class="errorNumber">404</h1>
        <h2 class="notFound">Team Not Found</h2>
        <p class="errorInfo">Make sure you selected the correct league or try spelling the team name differently.</p>
    </div>

    <br><br>
	<div class="home">
        <a href="/">Go Back</a>
	</div>
</body>

</html>
