<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Team Standings</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
        <div class="standingsTitle">
                <h1>Team Standings</h1>
        </div> <br><br><br>
        <div class="standingsTable"> <%- table %> </div>
        
        
        <div class="home">
                <a href="/" class="homeText">Go Back</a>
        </div>
</body>

</html>
